/* #EAC696 #C8AE7D #765827 #65451F*/
html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    padding: 0%;
    margin: 0;
    background-color: #EAC696;
}
.heading{
    font-family: 'Barriecito', cursive;
    font-size: 5rem;
    text-align: center;
}
.btn{
    text-align: center;
}
button{
    height: 5rem;
    width: 5rem;
    font-size: 2.7rem;
    margin: auto;
    text-align: center;
    margin: 20px;
    margin-top: 0;
    background-color: transparent;
    border: 5px solid #765827;
    background: rgba(0,0,0,0.2);
    border-radius: 50%;
}
.history{
    text-align: center;
    align-items: end;
    font-size: 1.3rem;
}
.playerChoice,.computerChoice{
    font-family: 'Russo One', sans-serif;
    font-size: 1.2rem;
    color: black;
    font-weight: 800;
}
button:hover{
    transform: scale(1.2);
}
.user_pts{
    display: inline;
    float: left;
    margin: 20px;

}
.comp_pts{
    display: inline;
    float: right;
    margin: 20px;
}
.user,.comp{
    font-family: 'Russo One', sans-serif;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 0;
}
.emoji{
    text-align: center;
    margin-top: 0px;
    font-size: 10rem;
}
.h1{
    display: inline;
    text-align: center;
    width: fit-content;
}
.h1 h1{
    font-family: 'Assistant', sans-serif;
    font-weight: 900;
    color: #65451F;
    text-shadow: 3px 3px #C8AE7D;
    text-align: center;
    padding-top: 100px;
    font-size: 5rem;
    position: relative;
    left:2.5%;
}